.img-suggestions{
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 48%;
}
.img-suggestions-parent{
    display: flex;
}
.suggestions-parent{
    width: 90%;
    margin-right: 40px;
}
@media(max-width:900px){
    .suggestions-parent{
        margin-right: 20px;
    }
}
@media(max-width:600px){
    .suggestions-parent{
        margin-right: 10px;
    }
}
@media(max-width:500px){
    .img-suggestions-parent{
        display: block;
    }
    .img-suggestions{
        width: 100%;
    }
}