.form-forget-password{
    width: 350px;
	height: 300px;
	background: red;
	overflow: hidden;
	background: linear-gradient(45deg, var(--bg-card1) 0, var(--bg-card2) 58%);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    margin: auto;
}
.back-link-forget-password{
    color: var(--text-color );
    font-size: 18px;
    margin-right: 55px;
    margin-top: 30px;
    display: block;
}
@media(max-width:500px){
    .form-forget-password{
        width: 90%;
        height: auto;
        padding-bottom: 20px;
    }
}