@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: iranSans;
  src: url(../src/fonts/IRANSans/IRANSans.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "iranSans";
}
:root{
  /* --primary-color:#0989ff; */
  --primary-color:#5eb1fe;
  --bg-gray:#c7c7c7;
  /* --bg-body1: rgba(106,87,87,1);
  --bg-body2: rgba(41,44,53,1);
  --bg-card1: rgba(3,94,177,1);
  --bg-card2: rgba(41,44,53,1);
  --bg-card1: rgba(73 , 168 , 255 , 1);
  --bg-card2: rgba(8,18,44,1); */
  --bg-body1: #D4ADFC;
  --bg-body2: #0C134F;
  --bg-card1: #1D267D;
  --bg-card2: #5C469C;
  --text-color: black;
  --against-text-color: #fff;
}
.font-icons{
  font-size: 22px;
}
body{
  overflow-x: hidden;
  background: linear-gradient(35deg, var(--bg-body1) 0%, var(--bg-body2) 70%) ;
}
.go-to-up-button{
  width: 50px;
  height: 50px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  display: none;
  background-color: var(--text-color);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  z-index: 999;
}
.icon-go-to-up-button{
  color: var(--against-text-color);
}
.show-go-to-up-button{
  transition: 0.2s;
  display: inline-block !important;
  bottom: 20px;
}
.go-to-up-button:hover{
  transform: translateY(-5px);
}
.link-color{
  color: var(--text-color);
}
hr{
  color: var(--text-color) !important;
}