.all-discount-of-the-day-parent{
    width: 99%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.cart-all-discount-of-the-day-parent{
    margin-top: 40px;
    text-align: center;
    margin: auto;
    justify-content: center;
}